
<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="top-header top-header-favorit">
					<div class="top-header-thumb">
						<img src="img/top-header2.jpg" alt="nature">
						<div class="top-header-author">
							<div class="author-thumb">
								<img src="img/author-main2.jpg" alt="author">
							</div>
							<div class="author-content">
								<a href="#" class="h3 author-name">Bill Gates</a>
								<div class="country">Business Magnate  |  Medina, WA</div>
							</div>
						</div>
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 offset-md-0">
								<ul class="profile-menu">
									<li>
										<a href="#" class="active">Timeline</a>
									</li>
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Photos</a>
									</li>
									<li>
										<a href="#">Videos</a>
									</li>
									<li>
										<a href="#">Events</a>
									</li>
									<li>
										<a href="#">Followers </a>
									</li>
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							<a href="#" class="btn btn-control bg-primary">
								<svg class="etsk-star-icon"><use xlink:href="icons/icons.svg#etsk-star-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control bg-purple">
								<svg class="etsk-chat---messages-icon"><use xlink:href="icons/icons.svg#etsk-chat---messages-icon"></use></svg>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block features-video">
				<div class="video-player">
					<img src="img/video9.jpg" alt="photo">
					<a href="https://www.youtube.com/watch?v=6XFwlNVRD5M" class="play-video">
						<svg class="etsk-play-icon"><use xlink:href="icons/icons.svg#etsk-play-icon"></use></svg>
					</a>

					<div class="video-content">
						<div class="h4 title">Bill Gates: Mosquitos, malaria and education</div>
						<time class="published" datetime="2017-03-24T18:18">12:06</time>
					</div>

					<div class="overlay"></div>
				</div>

				<div class="features-video-content">

					<article class="hentry post">

						<div class="post__author author vcard inline-items">
							<img src="img/author-page2.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="02-ProfilePage.html">Bill Gates</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										2 hours ago
									</time>
								</div>
							</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Edit Post</a>
								</li>
								<li>
									<a href="#">Delete Post</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
								<li>
									<a href="#">Select as Featured</a>
								</li>
							</ul>
						</div>

						</div>

						<p>Tune in to <a href="#">@Discovery</a> at 9 pm to learn about the progress we’re making to stop the world’s deadliest animal: <br><a href="#">http://b-gat.es/2sL2Dgj</a></p>

						<div class="post-additional-info inline-items">

							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-heart-icon"><use xlink:href="icons/icons.svg#etsk-heart-icon"></use></svg>
								<span>144,025</span>
							</a>

							<div class="comments-shared">
								<a href="#" class="post-add-icon inline-items">
									<svg class="etsk-speech-balloon-icon"><use xlink:href="icons/icons.svg#etsk-speech-balloon-icon"></use></svg>
									<span>19,201</span>
								</a>

								<a href="#" class="post-add-icon inline-items">
									<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
									<span>2,752</span>
								</a>
							</div>

						</div>

						<div class="control-block-button post-control-button">

							<a href="#" class="btn btn-control">
								<svg class="etsk-like-post-icon"><use xlink:href="icons/icons.svg#etsk-like-post-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control">
								<svg class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control">
								<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
							</a>

						</div>

					</article>

					<div class="mCustomScrollbar" data-mcs-theme="dark">

						<ul class="comments-list">
							<li>
								<div class="post__author author vcard inline-items">
									<img src="img/avatar48-sm.jpg" alt="author">

									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">Kelsey Gilstrap</a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												46 mins ago
											</time>
										</div>
									</div>

									<a href="#" class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg></a>

								</div>

								<p><a href="#">@Brooke Anderson</a> this is really interesting, have you seen this video? I think you'll like it.</p>

								<a href="#" class="post-add-icon inline-items">
									<svg class="etsk-heart-icon"><use xlink:href="icons/icons.svg#etsk-heart-icon"></use></svg>
									<span>8</span>
								</a>
								<a href="#" class="reply">Reply</a>
							</li>

							<li>
								<div class="post__author author vcard inline-items">
									<img src="img/avatar4-sm.jpg" alt="author">

									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">Colton Rapangani</a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												1 hour ago
											</time>
										</div>
									</div>

									<a href="#" class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg></a>

								</div>

								<p>Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

								<a href="#" class="post-add-icon inline-items">
									<svg class="etsk-heart-icon"><use xlink:href="icons/icons.svg#etsk-heart-icon"></use></svg>
									<span>7</span>
								</a>
								<a href="#" class="reply">Reply</a>

							</li>
						</ul>

					</div>

					<form class="comment-form inline-items">

						<div class="post__author author vcard inline-items">
							<img src="img/avatar73-sm.jpg" alt="author">
						</div>

						<div class="form-group with-icon-right is-empty">
							<textarea class="form-control" placeholder="Type a message..."></textarea>
							<div class="add-options-message">
								<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
									<svg class="etsk-camera-icon"><use xlink:href="icons/icons.svg#etsk-camera-icon"></use></svg>
								</a>
							</div>
						</div>

					</form>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<article class="hentry post has-post-thumbnail thumb-full-width">

					<div class="post__author author vcard inline-items">
						<img src="img/author-page2.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="02-ProfilePage.html">Bill Gates</a> wrote an <a href="#">article</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									7 hours ago
								</time>
							</div>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Edit Post</a>
								</li>
								<li>
									<a href="#">Delete Post</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
								<li>
									<a href="#">Select as Featured</a>
								</li>
							</ul>
						</div>

					</div>

					<div class="post-thumb">
						<img src="img/post__thumb4.jpg" alt="photo">
					</div>

					<a href="#" data-toggle="modal" data-target="#blog-post-popup" class="h2 post-title">In the fight against a devastating disease, India has a lot to be proud of.</a>

					<p>Subhash Chandra Chaubey was 14 years old in 1981 when his right leg began to swell. At first the change was almost imperceptible but, in the years that followed, it grew bigger and more deformed. Today, his leg resembles an elephant’s, with thick skin and a bloated foot.
					</p>

					<p>Chaubey’s misshapen limb is a tell-tale sign of lymphatic filariasis, also known as elephantiasis, a neglected tropical disease caused by a mosquito-borne parasitic worm that lodges inside the body and disrupts the lymph system...
					</p>

					<a href="#" data-toggle="modal" data-target="#blog-post-popup" class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Read More</a>

					<div class="post-additional-info inline-items">

						<a href="#" class="post-add-icon inline-items">
							<svg class="etsk-heart-icon"><use xlink:href="icons/icons.svg#etsk-heart-icon"></use></svg>
							<span>99,592</span>
						</a>

						<ul class="connections-harmonic">
							<li>
								<a href="#">
									<img src="img/friend-harmonic5.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic10.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic7.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic8.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic2.jpg" alt="friend">
								</a>
							</li>
						</ul>

						<div class="names-people-likes">
							<a href="#">Colton </a>, <a href="#">Brooke</a> and
							<br>223,492 more liked this
						</div>


						<div class="comments-shared">
							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-speech-balloon-icon"><use xlink:href="icons/icons.svg#etsk-speech-balloon-icon"></use></svg>
								<span>121,237</span>
							</a>

							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
								<span>15,623</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a href="#" class="btn btn-control">
							<svg class="etsk-like-post-icon"><use xlink:href="icons/icons.svg#etsk-like-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
						</a>

					</div>

				</article>
			</div>
			<div class="ui-block">
				<article class="hentry post has-post-thumbnail thumb-full-width">

					<div class="post__author author vcard inline-items">
						<img src="img/author-page2.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="02-ProfilePage.html">Bill Gates</a> wrote an <a href="#">article</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									March 14 at 6:03pm
								</time>
							</div>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Edit Post</a>
								</li>
								<li>
									<a href="#">Delete Post</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
								<li>
									<a href="#">Select as Featured</a>
								</li>
							</ul>
						</div>

					</div>

					<div class="post-thumb">
						<img src="img/post__thumb5.jpg" alt="photo">
					</div>

					<a href="#" data-toggle="modal" data-target="#blog-post-popup" class="h2 post-title">5 Good Summer Reads</a>

					<p>Summer is a great time to escape: to the beach, to the mountains, or to the world of a great book. This year, I found myself drawn even more than usual to books that took me outside (and I don’t mean the great outdoors). The books on this year’s summer reading list pushed me out of my own experiences, and I learned some things that shed new light on how our experiences shape us and where humanity might be headed.
					</p>

					<p>Some of these books helped me better understand what it’s like to grow up outside the mainstream: as a child of mixed race in apartheid South Africa, as a young man trying to escape his impoverished life in rural Appalachia, or as the son of a peanut farmer in Plains, Georgia. I hope you’ll find that others make you think deeper about what it means to truly connect with other people and to have purpose in your life. And all of them will transport you somewhere else—whether you’re sitting on a beach towel or on your own couch.
					</p>

					<p>
						Born a Crime, by Trevor Noah. As a longtime fan of The Daily Show...
					</p>

					<a href="#" data-toggle="modal" data-target="#blog-post-popup" class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Read More</a>

					<div class="post-additional-info inline-items">

						<a href="#" class="post-add-icon inline-items">
							<svg class="etsk-heart-icon"><use xlink:href="icons/icons.svg#etsk-heart-icon"></use></svg>
							<span>89,369</span>
						</a>

						<ul class="connections-harmonic">
							<li>
								<a href="#">
									<img src="img/friend-harmonic5.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic10.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic7.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic8.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic2.jpg" alt="friend">
								</a>
							</li>
						</ul>

						<div class="names-people-likes">
							<a href="#">Leandra </a>, <a href="#">Kelsey</a> and
							<br>164,041 more liked this
						</div>


						<div class="comments-shared">
							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-speech-balloon-icon"><use xlink:href="icons/icons.svg#etsk-speech-balloon-icon"></use></svg>
								<span>16,302</span>
							</a>

							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
								<span>18,885</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a href="#" class="btn btn-control">
							<svg class="etsk-like-post-icon"><use xlink:href="icons/icons.svg#etsk-like-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
						</a>

					</div>

				</article>
			</div>
		</div>

		<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<article class="hentry post has-post-thumbnail thumb-full-width">

					<div class="post__author author vcard inline-items">
						<img src="img/author-page2.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="02-ProfilePage.html">Bill Gates</a> wrote an <a href="#">article</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									12 hours ago
								</time>
							</div>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Edit Post</a>
								</li>
								<li>
									<a href="#">Delete Post</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
								<li>
									<a href="#">Select as Featured</a>
								</li>
							</ul>
						</div>

					</div>

					<div class="post-thumb">
						<img src="img/post__thumb6.jpg" alt="photo">
					</div>

					<a href="#" data-toggle="modal" data-target="#blog-post-popup" class="h2 post-title">16 Million Reasons To Be Optimistic About Polio</a>

					<p>In 1988, there were 40 new polio cases an hour. In 2016, there were just 40 cases. Here's how we get to zero. People often ask me how I know the world is getting better. I usually point to numbers like this one: Because of efforts to eradicate polio by groups like Rotary International, more than 16 million people are walking today who would otherwise have been paralyzed.
					</p>

					<p>That’s more than 16 million people who can walk to school. More than 16 million people who are better able to start a business or carry their child to bed. More than 16 million people who are living better lives, because a group of health care workers, volunteers, government leaders, and funders devoted themselves to fighting polio...
					</p>

					<a href="#" data-toggle="modal" data-target="#blog-post-popup" class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Read More</a>

					<div class="post-additional-info inline-items">

						<a href="#" class="post-add-icon inline-items">
							<svg class="etsk-heart-icon"><use xlink:href="icons/icons.svg#etsk-heart-icon"></use></svg>
							<span>75,203</span>
						</a>

						<ul class="connections-harmonic">
							<li>
								<a href="#">
									<img src="img/friend-harmonic1.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic9.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic7.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic4.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic8.jpg" alt="friend">
								</a>
							</li>
						</ul>

						<div class="names-people-likes">
							<a href="#">Rai </a>, <a href="#">Sammi</a> and
							<br>198,952 more liked this
						</div>


						<div class="comments-shared">
							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-speech-balloon-icon"><use xlink:href="icons/icons.svg#etsk-speech-balloon-icon"></use></svg>
								<span>11,203</span>
							</a>

							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
								<span>8,042</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a href="#" class="btn btn-control">
							<svg class="etsk-like-post-icon"><use xlink:href="icons/icons.svg#etsk-like-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
						</a>

					</div>

				</article>
			</div>
			<div class="ui-block">
				<article class="hentry post has-post-thumbnail thumb-full-width">

					<div class="post__author author vcard inline-items">
						<img src="img/author-page2.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="02-ProfilePage.html">Bill Gates</a> wrote an <a href="#">article</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									12 hours ago
								</time>
							</div>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Edit Post</a>
								</li>
								<li>
									<a href="#">Delete Post</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
								<li>
									<a href="#">Select as Featured</a>
								</li>
							</ul>
						</div>

					</div>

					<div class="post-thumb">
						<img src="img/post__thumb7.jpg" alt="photo">
					</div>

					<h2 class="post-title">Giving Foreign Aid Helps America’s Economy</h2>

					<p>I’m a big fan of America’s investments in the health and well-being of the world’s poor. Unfortunately, not everyone feels the same way. In fact, some in Washington D.C. have proposed dramatic cuts in foreign assistance.
					</p>

					<p>That would be a terrible mistake. Last month I wrote about how foreign aid helps keep Americans safe. In this post, I want to show how smart health and development programs promote America’s economy, and how cutting back on these investments could backfire on American workers...
					</p>

					<a href="#" data-toggle="modal" data-target="#blog-post-popup" class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Read More</a>

					<div class="post-additional-info inline-items">

						<a href="#" class="post-add-icon inline-items">
							<svg class="etsk-heart-icon"><use xlink:href="icons/icons.svg#etsk-heart-icon"></use></svg>
							<span>98,203</span>
						</a>

						<ul class="connections-harmonic">
							<li>
								<a href="#">
									<img src="img/friend-harmonic1.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic9.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic7.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic4.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic8.jpg" alt="friend">
								</a>
							</li>
						</ul>

						<div class="names-people-likes">
							<a href="#">Josh </a>, <a href="#">Melony</a> and
							<br>153,201 more liked this
						</div>


						<div class="comments-shared">
							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-speech-balloon-icon"><use xlink:href="icons/icons.svg#etsk-speech-balloon-icon"></use></svg>
								<span>13,201</span>
							</a>

							<a href="#" class="post-add-icon inline-items">
								<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
								<span>9,590</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a href="#" class="btn btn-control">
							<svg class="etsk-like-post-icon"><use xlink:href="icons/icons.svg#etsk-like-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="etsk-share-icon"><use xlink:href="icons/icons.svg#etsk-share-icon"></use></svg>
						</a>

					</div>

				</article>
			</div>
		</div>

		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<a href="#" class="btn btn-control btn-more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg></a>
		</div>
	</div>
</div>
