/*------------- #VARIABLES --------------*/



// We use these as default colors throughout
$primary-color: #af7f1f !default;
$secondary-color: #373737;
$form-color: #4d4d4d !default;
$placeholder-form-color: #666666;
$white-color: #fff !default;
$heading-color: #4d4d4d;
$icon-color: #808080;



// We use these to control various global styles
$body-bg: #edf2f6 !default;
$body-font-color: #666666 !default;


// We use these as default border style
$border-round: 100%;
$border-rounded: 3px;
$border-color: #e6ecf5;

$grey: #4d4d4d;
$grey-light: #666666;
$grey-lighter: #808080;
$purple: #732626;
$blue: #446600;
$breez: #732626;
$breez-light: #2aebcb;
$orange: #c38e22;
$yellow: #ffdc1b;
$smoke: #e6ecf5;
$green: #1ed760;

$c-facebook: #2f5b9d;
$c-twitter: #38bff1;
$c-linkedin: #0077b5;
$c-rss: #fab819;
$c-spotify: #1ed760;



