	
<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
  	<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
	<source src="/img/video/video.webm" type="video/webm">
	<source src="/img/video/video.mp4" type="video/mp4">
</video>


<!-- Landing Header -->

<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12">
			<div id="site-header-landing" class="header-landing">
				<a href="02-ProfilePage.html" class="logo">
					<img src="img/logo.png" alt="etsk">
					<h5 class="logo-title">EYT</h5>
                    <h1>EYT</h1>
                </a>
				<ul class="profile-menu">
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Careers</a>
					</li>
					<li>
						<a href="#">Support</a>
					</li>
					<li>
						<a href="#" class="js-expanded-menu">
							<svg class="etsk-menu-icon"><use xlink:href="icons/icons.svg#etsk-menu-icon"></use></svg>
							<svg class="etsk-close-icon"><use xlink:href="icons/icons.svg#etsk-close-icon"></use></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- ... end Landing Header -->

<!-- Login-Registration Form  -->

<div class="container">
	<div class="row display-flex">
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="landing-content">
				<h1>Mentor Network</h1>
				<p>We strive to create a growing network for students and mentors to help them excel in their desired field. We thank you for taking part in our beta, and helping us thrive!
				</p>
				<a href="/" class="btn btn-md btn-border c-white">Learn More</a>
			</div>
		</div>

		<div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="registration-login-form">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home" role="tab">
							<svg class="etsk-login-icon"><use xlink:href="icons/icons.svg#etsk-login-icon"></use></svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#profile" role="tab">
							<svg class="etsk-register-icon"><use xlink:href="icons/icons.svg#etsk-register-icon"></use></svg>
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
						<div class="title h6">Create an Account</div>
						<form class="content" action="/auth/signup" method="post">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">First Name</label>
										<input class="form-control" placeholder="" type="text" name="first_name" id="login-firstname" required>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Last Name</label>
										<input class="form-control" placeholder="" type="text" name="last_name" id="login-lastname" required>
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">Email</label>
										<input class="form-control" placeholder="" type="email" name="username" id="login-username" required>
									</div>
									<div class="form-group label-floating">
										<label class="control-label">Password</label>
										<input class="form-control" placeholder="" type="password" name="hashed_password" id="login-password" required>
									</div>

									<div class="form-group date-time-picker label-floating">
										<label class="control-label">Birthday</label>
										<input name="datetimepicker" value="01/01/1996"/>
										<span class="input-group-addon">
											<svg class="etsk-calendar-icon"><use xlink:href="icons/icons.svg#etsk-calendar-icon"></use></svg>
										</span>
									</div>
									&nbsp
									<div class="remember">
										<div class="checkbox">
											<label>
												<input name="optionsCheckboxes" type="checkbox" name="admin" id="admin" required>
												By creating an account you agree to our <a href="#">terms</a>.
											</label>
										</div>
									</div>
									<button class="btn btn-red btn-lg full-width">Create Account</button>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
						<div class="title h6">Account Login</div>
						<form class="content" action="/auth/login" method="post">
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">Your Email</label>
										<input class="form-control" placeholder="" type="text" name="username" id="login-username" required>
									</div>
									<div class="form-group label-floating">
										<label class="control-label">Your Password</label>
										<input class="form-control" placeholder="" type="password" name="hashed_password" id="login-password" required>
									</div>

									<div class="remember">

										<div class="checkbox">
											<label>
												<input name="optionsCheckboxes" type="checkbox">
												Remember Me
											</label>
										</div>
										<a href="#" class="forgot">Forgot my Password</a>
									</div>

									<button type="submit" class="btn btn-lg btn-primary full-width">Login</button>

									<div class="or"></div>

									<a href="/profile" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>

									<a href="/profile" class="btn btn-lg bg-google full-width btn-icon-left"><i class="fa fa-google-plus" aria-hidden="true"></i>Login with Google</a>

									<p>Don’t you have an account? Click <a href="/profile">here</a> to join today!</p>
								</div>
							</div>
						<!--form here--></form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Login-Registration Form  -->
